AIRNODE_WALLET_MNEMONIC="dog boost alley ..."
CLOUD_PROVIDER=gcp
REGION=us-east-1
PROJECT_ID=darwinia-oracle

ARBITRUM_GOERLI_API=https://arbitrum-goerli.infura.io/v3
ARBITRUM_GOERLI_API_KEY=arbitrum-goerli-api-key
ARBITRUM_MAINNET_API=https://arbitrum-mainnet.infura.io/v3
ARBITRUM_MAINNET_API_KEY=arbitrum-mainnet-api-key
