AIRNODE_WALLET_MNEMONIC="dog boost alley ..."
CLOUD_PROVIDER=gcp
REGION=us-east-1

# if you want deploy to gcp, this is required
PROJECT_ID=darwinia-oracle

_ARBITRUM_GOERLI_API=https://arbitrum-goerli.infura.io/v3
_ARBITRUM_GOERLI_API_KEY=arbitrum-goerli-api-key
_ARBITRUM_MAINNET_API=https://arbitrum-mainnet.infura.io/v3
_ARBITRUM_MAINNET_API_KEY=arbitrum-mainnet-api-key
